<div>
  <label>Load Modules Dynamically in Component: </label>
  <select (change)="loadModules($event)" class="select">
    <option value="0">Select</option>
    <option *ngFor="let item of items" value="{{item.value}}">
      {{item.label}}
    </option>
  </select>
  </div>

  @if(componentType==='firstComponent'){
    <app-dynamic-outlet [componentName]="componentType"></app-dynamic-outlet>
  }@else if(componentType==='secondComponent'){
    <app-dynamic-outlet [componentName]="componentType"></app-dynamic-outlet>
  }@else if(componentType==='thirdComponent'){
    <app-dynamic-outlet [componentName]="componentType"></app-dynamic-outlet>
  }@else if(componentType==='fourthComponent'){
    <app-dynamic-outlet [componentName]="componentType"></app-dynamic-outlet>
  }@else if(componentType==='fifthComponent'){
    <app-dynamic-outlet [componentName]="componentType"></app-dynamic-outlet>
  }

<router-outlet />